@model List<Anime>;

<div class="card-header bg-secondary bg-gradient ml-0 py-3">
    <div class="row">
        <div class="col-6 text-start">
            <h2 class="text-dark py-2 px-4">ANIME LIST</h2>
        </div>
        <div class="col-6 text-end px-4 py-2">
            <a class="btn btn-primary" asp-controller="Anime" asp-action="Create"><i class="bi bi-plus-square text-bold me-2"></i>  CREATE ANIME</a>
        </div>
    </div>
</div>
@* <div class="container border  *@
@for (int i = 0; i < Model.Count(); i += 2)
{

    <div class="card-group">

    <div class="card mb-3 ml-5" style="max-width: 650px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@Model[i].ImageURL" class="card-img" onerror="this.src='No_Image.jpg'">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model[i].Title</h5>
                    <p class="card-text">@Model[i].Description</p>
                    <p class="card-text"><small class="text-muted">@Model[i].Metadata</small></p>
                    <p class="card-text"><small class="text-muted">Rating:- @Model[i].Rating</small></p>
                </div>
            </div>
            <div class="row pt-2 ps-4">
                <div class="col-6">
                    <a asp-controller="Anime" asp-action="Edit" asp-route-id="@Model[i].Id" class="btn btn-primary form-control"> EDIT </a>
                </div>
                <div class="col-6">
                    <a asp-controller="Anime" asp-action="Delete" asp-route-id="@Model[i].Id" class="btn btn-danger form-control"> DELETE</a>
                </div>
            </div>
        </div>
    </div>

    @if(i + 1 >= Model.Count())
    {
        break;
    }
    <div class="card mb-3 ml-5" style="max-width: 650px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="@Model[i + 1].ImageURL" class="card-img" onerror="this.src='No_Image.jpg'">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">@Model[i + 1].Title</h5>
                    <p class="card-text">@Model[i + 1].Description</p>
                    <p class="card-text"><small class="text-muted">@Model[i + 1].Metadata</small></p>
                    <p class="card-text"><small class="text-muted">Rating:- @Model[i + 1].Rating</small></p>
                </div>
            </div>
            <div class="row pt-2 ps-4">
                <div class="col-6">
                    <a asp-action="Edit" asp-route-id="@Model[i + 1].Id" class="btn btn-primary form-control"> EDIT </a>
                </div>
                <div class="col-6">
                    <a asp-action="Delete" asp-route-id="@Model[i + 1].Id" class="btn btn-danger form-control"> DELETE</a>
                </div>
            </div>
        </div>
    </div>
</div>
}
